@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@model IEnumerable<ThucHanh_0306191060.Areas.Admin.Models.Product>*@
@using PagedList.Mvc;
@using PagedList;

@model IPagedList<ThucHanh_0306191060.Areas.Admin.Models.Product>
@{
    @using Microsoft.AspNetCore.Http

}


<div class="container">
    <div class="search">
        <h3>Chọn tiêu chí</h3>
        <input type="radio" id="ten" value="" name="tieuchi" /> Tìm theo tên  <br />
        <input type="radio" id="loai" value="" name="tieuchi" /> Tìm theo loại  <br /> <br />
        <form method="post" asp-action="Search">

            <input type="hidden" id="iten" name="ten" value="" />
            <select style="display: none" id="iloai" name="loai">
                @foreach (var i in ViewBag.loaisp)
                {
                    <option value="@(i.Id)">@(i.Name)</option>
                }

            </select>
            <button type="submit" style="display:none" id="btn_submit">Tìm kiếm</button>
        </form>
    </div>
</div>
<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h3>
                @(Model.Count()>0?Model.Count()+" kết quả tìm kiếm":"")
            </h3><br />
        </div>

        <input type="hidden" name="name" id="role" value="@Context.Session.GetString("role")" />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/./images/product/@item.Image" alt="">
                            <a href="" class="add_cart_btn" id="addCart" name="addCart" idSP="@(item.Id)">
                                <input type="hidden" name="name" id="idSP1" value="@(item.Id)" />
                                <span>
                                    Add To Cart
                                </span>
                            </a>

                        </div>
                        <div class="detail-box" id="userID" idUser="@Context.Session.GetString("userid")">
                            <div>
                                <h5>
                                    @item.Name
                                </h5>
                                <a asp-action="ProductDetail" asp-route-id="@item.Id">Xem chi tiết</a>
                            </div>
                            <div class="product_info">
                                <h5>
                                    <span>VND</span> @item.Price
                                </h5>
                                <div class="star_container">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>



</section>
<div class="page">
    Trang :&nbsp
    @for (int i = 0; i < Model.PageCount; i++)
    {
        <a asp-action="Search" asp-route-id="@(i+1)">@(i+1)&nbsp&nbsp</a>


    }
</div>

@section js{


    <script>
        var btnPlus = document.querySelectorAll('#addCart');

        var soLuong = document.querySelectorAll('#idSP1');


            btnPlus.forEach((item, index) => item.addEventListener('click', () => {
            //    var sl = soLuong[index].textContent;
            //     var a = Number(sl);
            //a++;
            //    sl = a.toString();

                //    soLuong[index].innerHTML = sl;

                var a = index;
                console.log(soLuong[index].value)
                var q = soLuong[index].value;


                if (document.querySelector('#role').value!='') {
                $.ajax({
                method: "get",
                url: "@((Context.Request.IsHttps?"https://":"http://")+Context.Request.Host+"/api/cart/addcart")",
                data: { accountID: $('#userID').attr('idUser'), productID: q, soLuong: 1 }
            }).done(function (msg) {
                alert(msg)

        });
                }

            }));
    @*$('#addCart').click(function () {

             $.ajax({
                method: "get",
                 url: "@((Context.Request.IsHttps?"https://":"http://")+Context.Request.Host+"/api/cart/addcart")",
                 data: { accountID: $('#userID').attr('idUser'), productID: $(this).attr('idSP') }
             }).done(function (msg) {
                 alert(msg);

        });


        });*@
        $('#ten').click(function () {

            document.querySelector('#iten').setAttribute("type", "text");
            document.querySelector('#iloai').setAttribute("style", "display: none");
            document.querySelector('#btn_submit').setAttribute("style", "");

        });
        $('#loai').click(function () {

            document.querySelector('#iloai').setAttribute("style", "");
            document.querySelector('#iten').setAttribute("type", "hidden");
            document.querySelector('#btn_submit').setAttribute("style", "");
        });
    </script>


}